.App {
  text-align: center;
}

*{
  padding: 0;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  margin: 40px 40px;
  grid-gap: 30px;
}

h1{
  text-shadow: 0 2px 1px #747474, 
  -1px 3px 1px #767676, 
  -2px 5px 1px #787878, 
  -3px 7px 1px #7a7a7a,
  -4px 9px 1px #7f7f7f,
  -5px 11px 1px #838383,
  -6px 13px 1px #878787,
  -7px 15px 1px #8a8a8a, 
  -8px 17px 1px #8e8e8e;
}


.box{
  box-shadow: 9px 5px 30px -1px rgba(0,0,0,0.75);
  border-radius: 15px;
}

.voiced{
  font-weight: bold;
  font-style: italic;
  color: rgb(97, 95, 95);
  font-size: 18px;
  margin-top: -7px;
}

h2{
  margin-top: 10px;
}


blockquote{
  font-style: italic;
  font-weight: 650;
  margin-top: -3px;
}

.description{
  margin-top: -5px;
  margin-left: 7px;
  margin-right: 7px;
}

@media only screen and (max-width: 1400px){
  .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 40px;
    grid-gap: 30px;
  }
}


@media only screen and (max-width: 1100px){
  .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 40px;
    grid-gap: 30px;
  }
}


@media only screen and (max-width: 716px){
  .list{
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 40px;
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 390px){
  .list{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-left: 20px;
  }

  .box{
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 322px){
   h1{
     margin-right: 4px;
   }


  .list{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    margin-left: 20px;
  }

  .box{
    margin-bottom: 20px;
    margin-left: -10px;
    box-shadow: none;
  }
}